enum-tools
jupyter_sphinx
lxml
mpi4py
mypy
mypy-extensions
numpydoc
osmnx
pydata-sphinx-theme
pytest-sphinx
scipy
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-math-dollar
sphinx-design
sphinx-gallery
sphinx-notfound-page
sphinx-toolbox
sphinxcontrib-asciinema
sphinxcontrib-websupport
sphinxcontrib-bibtex
sphinxcontrib-tikz
sympy
pandas
gmsh