cmocean
colorcet
enum-tools
imageio
imageio-ffmpeg
jupyter_sphinx
jupyterlab
lxml
meshio
mpi4py
mypy
mypy-extensions
numpydoc
osmnx
pydata-sphinx-theme
pypandoc
pytest-sphinx
scipy
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx_math_dollar
sphinx-design
sphinx-gallery
sphinx-notfound-page
sphinx-toolbox
sphinxcontrib-asciinema
sphinxcontrib-websupport
sympy
trame
trame-vtk
trame-vuetify
trimesh
pandas
gmsh
phasefieldx